@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

.btnn {
  border-width: 1px;


}
.np {
  border-width: 2px;
  padding-top: 2px;
  padding-bottom:2px;



}
.crsl {
  margin:0 auto
}
.wideboi{
  letter-spacing: 0.19em;
}

.slide-in {
  animation: slide-in 1s ease-out 0.2s;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}




.title {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.75s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.info{
  animation-delay: 0.5s;
}
.box-md{
  animation-delay: 0.85s;
}
.box-sm{
  animation-delay: 1s;
}


.info, .box-md, .box-sm {
  opacity: 0;
  transform: translateY(-30px);
  animation: slideDown 1s ease-in-out forwards;

}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.bott {
  border-radius: 0.625rem;
}
.h-100 {
  height: 26rem
}
.pr-gg {
  padding-right: 9%;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 40%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.layer1 {
  background-image: none;
}

.slideover:hover  {
    transform: translate3d(0px, -150px, 0px);
}