@tailwind base;
@tailwind components;
@tailwind utilities;

input, textarea {
  @apply border-2 border-gray-300 rounded-lg px-1 w-full;
  @apply mb-2;
}

input:focus, textarea:focus, select:focus{
  outline: none !important;
    border:1.5px solid #009879;

    transition: 1s ease

}

label{
  @apply text-emerald-600
}

.league_spartan {
  font-family: var(--font-spartan), sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.btn-primary {
  @apply bg-emerald-500 text-slate-200 rounded-lg px-4 py-1;
}
.btn-red {
  @apply bg-red-500 text-slate-200 rounded-lg px-4 py-1;
}
.btn-sec {
  @apply bg-gray-700 text-slate-200 rounded-lg px-4 py-1;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body > div > div > form > h1 {
  border-bottom: 2px solid gray;
}

.titel {
  @apply text-2xl mt-2  border-b-2 border-emerald-600 text-emerald-600;
}

.bouton{
  @apply bg-emerald-500 my-10 text-slate-200 rounded-lg p-2 text-xl mx-16 flex justify-center;
}



input {

}











.basic {
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.basic thead tr {
  @apply bg-gray-700;
  color: white;
  text-align: left;
  font-weight: bold;


}
.basic th, .basic td {
  padding:13px 15px;
}

.basic tbody tr {
  border-bottom:1px solid #dddddd;
  @apply bg-slate-300;
  @apply text-gray-700;
  font-weight: 500;

}

.basic tbody tr:nth-of-type(even) {
  @apply bg-slate-200;
}

.basic tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
/*table.basic {
  @apply w-full border-collapse collapse;
}
table.basic thead tr td{
  @apply  bg-emerald-100
}
table.basic tr td {
  @apply border border-green-200 p-1
}
*/
table .btnn{
  @apply bg-emerald-500 text-slate-100 py-1 px-5 rounded-md inline-flex  mr-0;
}
table .del {
  @apply bg-red-500 text-slate-100 py-1 px-5 rounded-md inline-flex  mr-0 ml-2;
}